# Ignorer les fichiers de compilation
node_modules/
dist/
build/
target/

# Ignorer les fichiers de logs et d'environnement
*.log
.env
.env.local

# Ignorer les fichiers spécifiques à l'IDE
.idea/
.vscode/
.DS_Store

# Ignorer les dépendances de Maven et Node.js
**/node_modules/
**/target/
**/.gradle/